<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ksolves_bannerslider_listing_data_source" xsi:type="string">Ksolves\BannerSlider\Model\ResourceModel\BannerSlider\Grid\Collection</item>
                <item name="ksolves_bannersliderimage_listing_data_source" xsi:type="string">Ksolves\BannerSlider\Model\ResourceModel\BannerSliderImage\Grid\Collection</item>

            </argument>
        </arguments>
    </type>
    <virtualType name="Ksolves\BannerSlider\Model\ResourceModel\BannerSlider\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">banner_slider</argument>
            <argument name="resourceModel" xsi:type="string">Ksolves\BannerSlider\Model\ResourceModel\BannerSlider</argument>
        </arguments>
        
    </virtualType>
    <virtualType name="Ksolves\BannerSlider\Model\ResourceModel\BannerSliderImage\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">banner_slider_image</argument>
            <argument name="resourceModel" xsi:type="string">Ksolves\BannerSlider\Model\ResourceModel\BannerSliderImage</argument>
        </arguments>
        
    </virtualType>
</config>